*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
header{
	height: 50px;
}
header>h2{
	margin-left: 25%;
	line-height: 50px;
	color: red;
}
#main{
	position: relative;
	width: 100%;
	height: 500px;
	background-color: red;
}
#table{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 350px;
	height: 450px;
	background-color: white;
	text-align: center;
}
#table > table{
	margin: 0 auto;
	margin-top: 35px;
	border: none;
}
	
#table > table th{
	font-size: 20px;
	border-bottom: 1px solid gray;
}
#table > table input{
	margin-top: 10px;
	height: 30px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid gainsboro;
	box-sizing: border-box;
	padding-left: 15px;
}
#table > table button{
	margin-top: 10px;
	height: 30px;
	width: 250px;
	border: none;
	border-radius: 5px;
	background-color: orangered;
}
#table > table:last-child td{
	text-align: left;
}
#table > table:last-child a{
	color: black;
	font-size: 10px;
}
#table > table:last-child a:hover{
	color: red;
}
footer{
	text-align: center;
	width: 100%;
	height: 20px;
}
footer span{
	font-size: 10px;
	line-height: 20px;
}